<html>
<head>
  <title>品番予測AI</title>
  <link rel="icon" href="/static/favicon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <h1>
    <!--// AI情報折りたたみ展開ボタン -->
    <button type="button" onclick="toggleMenu('AI-info')" title="AI info">
      <img src="/static/favicon.png" alt height="36" width="36">
    </button>
    品番予測AI
  </h1>
  <div class="card text-white bg-primary mb-3" id="AI-info" style="max-width: 44rem;display:none;clear:both;">
    <div class="card-body">
      <h5 class="card-title">AI info</h5>
      <table>
        <tr>
          <td class="card-text text-white">バージョン</td>
          <td class="card-text text-white">{{ version }}</td>
        </tr>
        <tr>
          <td class="card-text text-white">学習スコア</td>
          <td class="card-text text-white">{{ "{:.4f}".format(score) }}</td>
        </tr>
        <tr>
          <td class="card-text text-white">学習日</td>
          <td class="card-text text-white">{{ date.isoformat(" ", "seconds") }}</td>
        </tr>
        <tr>
          <td class="card-text text-white">品番登録件数</td>
          <td class="card-text text-white">{{ registered }}</td>
        </tr>
        <tr>
          <td class="card-text text-white">カテゴリ数</td>
          <td class="card-text text-white">{{ categories }}</td>
        </tr>
        <tr>
          <td class="card-text text-white">データハッシュ</td>
          <td class="card-text text-white">{{ hash }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="input-group mb-3" style="max-width: 30rem;">
    <input class="form-control" type="text" id="name" placeholder="品名を入力してください" list="name-list" oninput="fetchList(this.value)">
    <datalist id="name-list"></datalist>
    <input class="form-control" type="text" id="model" placeholder="型式を入力してください" list="model-list">
    <datalist id="model-list"></datalist>
    <input type="button" name="submit" onclick="postItem()" value="品番予測">
  </div>
  <div id="result"></div>
  <table id="example-table" class="table caption-top"></table>
  <script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
